    <div class="row">
      <h4>
        Now let's talk about your investment.
      </h4>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label>How much would you like to invest?</label>
        <select class="form-control"><option>$1,000-$5,0000</option><option>$5,000-$10,000</option><option>More than $10,000</option><option>I don't know yet</option>
        </select>
      </div>
      <div class="form-group col-sm-6">
        <label>How long would you like to invest</label>
        <select class="form-control"><option>1-2 years</option><option>2-5 years</option><option>5-10 years</option><option>I don't know yet</option></select>
      </div>
    </div>
    <div class="row">
      How do these answers affect my return?
      <div class="alert alert-default">
        Most deals have minimum investment levels. The greater your investment amount, the wider your range of possible returns. Typically, you will earn higher rates of return for longer investments. 
      </div>
    </div>  
    <div class="row">
      <a class="btn btn-default inverse icon-right fa-arrow-right" type="button" href="/result">Calculate my predicted return</a>
    </div>