    <div class="row">
      <h4>
        In order to find out how much you could earn investing in municipal bonds, we need to know a bit more about you.
      </h4>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label>What state do you live in?</label>
        <select class="form-control"><option>California</option><option>2</option><option>3</option><option>4</option></select>
      </div>
      <div class="form-group col-sm-6">
        <label>How do you file your taxes?</label>
        <select class="form-control"><option>I'm married and file jointly.</option><option>2</option><option>3</option><option>4</option></select>
      </div>
      <div class="form-group col-sm-6">
        <label>How much do you earn per year?</label>
        <select class="form-control"><option>Less than $20,000</option><option>2</option><option>3</option><option>4</option></select>
      </div>
    </div>
    <div class="row">
      Why do we ask these questions?
      <div class="alert alert-default">
        Your income, filing status and state of residence affect the amount of income tax you pay. As the rate of income tax you pay rises, the benefit you gain from tax-free investments, such as municipal bonds, increases. 
      </div>
    </div>  
    <div class="row">
      <a class="btn btn-default inverse icon-right fa-arrow-right" type="button" href="/investment">I'm ready to move on</a>
    </div>