    <div class="row">
      <h3>Based on your responses, you could earn between 3% and 8% investing in municipal bonds.</h3>
    </div>
        <div class="row">
      How is this number calculated?
      <div class="alert alert-default">
        Using the information you provided, we calculate the difference between the interest rate you earn on these tax-free investments and the amount you would earn if you made a comparable taxable investment. This gap, plus the interest rate on the bond, is called your Tax Equivalent Yield, and helps you to compare investing in bonds to other products, such as stocks, mutual funds and savings accounts.
      </div>
    </div>  
    <div class="row pull-right">
      <button class="btn btn-default inverse" type="button">Great! Let's get started.</button>
    </div>
  </div>