    <div class="row">
      <h3> Here's a sample title </h3>
    </div>
    <div class="row pull-right">
      <a class="btn btn-default inverse" type="button" href="#">This is a button.</a>
    </div>