
<!DOCTYPE html>
<html>
<head>
  <title>Nl-Sandbox</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container sg-sections-container">

  <div class="col-sm-8 sg-section">

    <%= yield %>
  
  </div>

</body>
</html>


